@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --radius: 0.65rem;
  --color-muted-foreground: oklch(0.556 0 0);
  --radius: 0.625rem;
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
}

html, body {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	input { color:black; };
/*	input[type='checkbox'] {
		appearance: none;
		-webkit-appearance: none;
		background-color: #ffffff;
		border-color: #d1d5db;
		border-width: 1px;
		border-radius: 0.25rem;
	}*/
}
