@theme {
	--color--black: var(--color-black);
	--color--white: var(--color-white);
	--color--amber-50: var(--color-amber-50);
	--color--amber-100: var(--color-amber-100);
	--color--amber-200: var(--color-amber-200);
	--color--amber-300: var(--color-amber-300);
	--color--amber-400: var(--color-amber-400);
	--color--amber-500: var(--color-amber-500);
	--color--amber-600: var(--color-amber-600);
	--color--amber-700: var(--color-amber-700);
	--color--amber-800: var(--color-amber-800);
	--color--amber-900: var(--color-amber-900);
	--color--amber-950: var(--color-amber-950);
	--color--blue-50: var(--color-blue-50);
	--color--blue-100: var(--color-blue-100);
	--color--blue-200: var(--color-blue-200);
	--color--blue-300: var(--color-blue-300);
	--color--blue-400: var(--color-blue-400);
	--color--blue-500: var(--color-blue-500);
	--color--blue-600: var(--color-blue-600);
	--color--blue-700: var(--color-blue-700);
	--color--blue-800: var(--color-blue-800);
	--color--blue-900: var(--color-blue-900);
	--color--blue-950: var(--color-blue-950);
	--color--cyan-50: var(--color-cyan-50);
	--color--cyan-100: var(--color-cyan-100);
	--color--cyan-200: var(--color-cyan-200);
	--color--cyan-300: var(--color-cyan-300);
	--color--cyan-400: var(--color-cyan-400);
	--color--cyan-500: var(--color-cyan-500);
	--color--cyan-600: var(--color-cyan-600);
	--color--cyan-700: var(--color-cyan-700);
	--color--cyan-800: var(--color-cyan-800);
	--color--cyan-900: var(--color-cyan-900);
	--color--cyan-950: var(--color-cyan-950);
	--color--gray-50: var(--color-gray-50);
	--color--gray-100: var(--color-gray-100);
	--color--gray-200: var(--color-gray-200);
	--color--gray-300: var(--color-gray-300);
	--color--gray-400: var(--color-gray-400);
	--color--gray-500: var(--color-gray-500);
	--color--gray-600: var(--color-gray-600);
	--color--gray-700: var(--color-gray-700);
	--color--gray-800: var(--color-gray-800);
	--color--gray-900: var(--color-gray-900);
	--color--gray-950: var(--color-gray-950);
	--color--green-50: var(--color-green-50);
	--color--green-100: var(--color-green-100);
	--color--green-200: var(--color-green-200);
	--color--green-300: var(--color-green-300);
	--color--green-400: var(--color-green-400);
	--color--green-500: var(--color-green-500);
	--color--green-600: var(--color-green-600);
	--color--green-700: var(--color-green-700);
	--color--green-800: var(--color-green-800);
	--color--green-900: var(--color-green-900);
	--color--green-950: var(--color-green-950);
	--color--indigo-50: var(--color-indigo-50);
	--color--indigo-100: var(--color-indigo-100);
	--color--indigo-200: var(--color-indigo-200);
	--color--indigo-300: var(--color-indigo-300);
	--color--indigo-400: var(--color-indigo-400);
	--color--indigo-500: var(--color-indigo-500);
	--color--indigo-600: var(--color-indigo-600);
	--color--indigo-700: var(--color-indigo-700);
	--color--indigo-800: var(--color-indigo-800);
	--color--indigo-900: var(--color-indigo-900);
	--color--indigo-950: var(--color-indigo-950);
	--color--orange-50: var(--color-orange-50);
	--color--orange-100: var(--color-orange-100);
	--color--orange-200: var(--color-orange-200);
	--color--orange-300: var(--color-orange-300);
	--color--orange-400: var(--color-orange-400);
	--color--orange-500: var(--color-orange-500);
	--color--orange-600: var(--color-orange-600);
	--color--orange-700: var(--color-orange-700);
	--color--orange-800: var(--color-orange-800);
	--color--orange-900: var(--color-orange-900);
	--color--orange-950: var(--color-orange-950);
	--color--purple-50: var(--color-purple-50);
	--color--purple-100: var(--color-purple-100);
	--color--purple-200: var(--color-purple-200);
	--color--purple-300: var(--color-purple-300);
	--color--purple-400: var(--color-purple-400);
	--color--purple-500: var(--color-purple-500);
	--color--purple-600: var(--color-purple-600);
	--color--purple-700: var(--color-purple-700);
	--color--purple-800: var(--color-purple-800);
	--color--purple-900: var(--color-purple-900);
	--color--purple-950: var(--color-purple-950);
	--color--red-50: var(--color-red-50);
	--color--red-100: var(--color-red-100);
	--color--red-200: var(--color-red-200);
	--color--red-300: var(--color-red-300);
	--color--red-400: var(--color-red-400);
	--color--red-500: var(--color-red-500);
	--color--red-600: var(--color-red-600);
	--color--red-700: var(--color-red-700);
	--color--red-800: var(--color-red-800);
	--color--red-900: var(--color-red-900);
	--color--red-950: var(--color-red-950);
	--color--yellow-50: var(--color-yellow-50);
	--color--yellow-100: var(--color-yellow-100);
	--color--yellow-200: var(--color-yellow-200);
	--color--yellow-300: var(--color-yellow-300);
	--color--yellow-400: var(--color-yellow-400);
	--color--yellow-500: var(--color-yellow-500);
	--color--yellow-600: var(--color-yellow-600);
	--color--yellow-700: var(--color-yellow-700);
	--color--yellow-800: var(--color-yellow-800);
	--color--yellow-900: var(--color-yellow-900);
	--color--yellow-950: var(--color-yellow-950);

	--color--main: var(--color-white);
	--color--sidebar: var(--color-gray-100);
}

body.dark {
	--color--black: var(--color-white);
	--color--white: var(--color-black);
	--color--amber-50: var(--color-amber-950);
	--color--amber-100: var(--color-amber-900);
	--color--amber-200: var(--color-amber-800);
	--color--amber-300: var(--color-amber-700);
	--color--amber-400: var(--color-amber-600);
	--color--amber-500: var(--color-amber-500);
	--color--amber-600: var(--color-amber-400);
	--color--amber-700: var(--color-amber-300);
	--color--amber-800: var(--color-amber-200);
	--color--amber-900: var(--color-amber-100);
	--color--amber-950: var(--color-amber-50);
	--color--blue-50: var(--color-blue-950);
	--color--blue-100: var(--color-blue-900);
	--color--blue-200: var(--color-blue-800);
	--color--blue-300: var(--color-blue-700);
	--color--blue-400: var(--color-blue-600);
	--color--blue-500: var(--color-blue-500);
	--color--blue-600: var(--color-blue-400);
	--color--blue-700: var(--color-blue-300);
	--color--blue-800: var(--color-blue-200);
	--color--blue-900: var(--color-blue-100);
	--color--blue-950: var(--color-blue-50);
	--color--cyan-50: var(--color-cyan-950);
	--color--cyan-100: var(--color-cyan-900);
	--color--cyan-200: var(--color-cyan-800);
	--color--cyan-300: var(--color-cyan-700);
	--color--cyan-400: var(--color-cyan-600);
	--color--cyan-500: var(--color-cyan-500);
	--color--cyan-600: var(--color-cyan-400);
	--color--cyan-700: var(--color-cyan-300);
	--color--cyan-800: var(--color-cyan-200);
	--color--cyan-900: var(--color-cyan-100);
	--color--cyan-950: var(--color-cyan-50);
	--color--gray-50: var(--color-gray-950);
	--color--gray-100: var(--color-gray-900);
	--color--gray-200: var(--color-gray-800);
	--color--gray-300: var(--color-gray-700);
	--color--gray-400: var(--color-gray-600);
	--color--gray-500: var(--color-gray-500);
	--color--gray-600: var(--color-gray-400);
	--color--gray-700: var(--color-gray-300);
	--color--gray-800: var(--color-gray-200);
	--color--gray-900: var(--color-gray-100);
	--color--gray-950: var(--color-gray-50);
	--color--green-50: var(--color-green-950);
	--color--green-100: var(--color-green-900);
	--color--green-200: var(--color-green-800);
	--color--green-300: var(--color-green-700);
	--color--green-400: var(--color-green-600);
	--color--green-500: var(--color-green-500);
	--color--green-600: var(--color-green-400);
	--color--green-700: var(--color-green-300);
	--color--green-800: var(--color-green-200);
	--color--green-900: var(--color-green-100);
	--color--green-950: var(--color-green-50);
	--color--indigo-50: var(--color-indigo-950);
	--color--indigo-100: var(--color-indigo-900);
	--color--indigo-200: var(--color-indigo-800);
	--color--indigo-300: var(--color-indigo-700);
	--color--indigo-400: var(--color-indigo-600);
	--color--indigo-500: var(--color-indigo-500);
	--color--indigo-600: var(--color-indigo-400);
	--color--indigo-700: var(--color-indigo-300);
	--color--indigo-800: var(--color-indigo-200);
	--color--indigo-900: var(--color-indigo-100);
	--color--indigo-950: var(--color-indigo-50);
	--color--orange-50: var(--color-orange-950);
	--color--orange-100: var(--color-orange-900);
	--color--orange-200: var(--color-orange-800);
	--color--orange-300: var(--color-orange-700);
	--color--orange-400: var(--color-orange-600);
	--color--orange-500: var(--color-orange-500);
	--color--orange-600: var(--color-orange-400);
	--color--orange-700: var(--color-orange-300);
	--color--orange-800: var(--color-orange-200);
	--color--orange-900: var(--color-orange-100);
	--color--orange-950: var(--color-orange-50);
	--color--purple-50: var(--color-purple-950);
	--color--purple-100: var(--color-purple-900);
	--color--purple-200: var(--color-purple-800);
	--color--purple-300: var(--color-purple-700);
	--color--purple-400: var(--color-purple-600);
	--color--purple-500: var(--color-purple-500);
	--color--purple-600: var(--color-purple-400);
	--color--purple-700: var(--color-purple-300);
	--color--purple-800: var(--color-purple-200);
	--color--purple-900: var(--color-purple-100);
	--color--purple-950: var(--color-purple-50);
	--color--red-50: var(--color-red-950);
	--color--red-100: var(--color-red-900);
	--color--red-200: var(--color-red-800);
	--color--red-300: var(--color-red-700);
	--color--red-400: var(--color-red-600);
	--color--red-500: var(--color-red-500);
	--color--red-600: var(--color-red-400);
	--color--red-700: var(--color-red-300);
	--color--red-800: var(--color-red-200);
	--color--red-900: var(--color-red-100);
	--color--red-950: var(--color-red-50);
	--color--yellow-50: var(--color-yellow-950);
	--color--yellow-100: var(--color-yellow-900);
	--color--yellow-200: var(--color-yellow-800);
	--color--yellow-300: var(--color-yellow-700);
	--color--yellow-400: var(--color-yellow-600);
	--color--yellow-500: var(--color-yellow-500);
	--color--yellow-600: var(--color-yellow-400);
	--color--yellow-700: var(--color-yellow-300);
	--color--yellow-800: var(--color-yellow-200);
	--color--yellow-900: var(--color-yellow-100);
	--color--yellow-950: var(--color-yellow-50);

	--color--main: var(--color-black);
	--color--sidebar: var(--color-gray-900);
}
