<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{global.mytranslate("Dongle")}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"><div style="padding:10px;">
	<ion-button (click)="ble.connectToggle()" [color]="ble.connectedBLE == 2 ? 'success' : ble.connectedBLE == 1 ? 'danger' : 'primary'" style="height:auto; margin-left:10px; margin-right:10px;"><div style="margin-top:5px;margin-bottom:5px;">
		<ion-icon src="assets/dongle.svg" style="height:32px;width:74px;"></ion-icon>
		<br>{{ble.connectedBLE == 2 ? global.mytranslate("Connected") : ble.connectedBLE == 1 ? global.mytranslate("Searching") : global.mytranslate("Connect")}}
		<br>
	</div></ion-button>
	<div *ngIf="ble.connectedBLE == 2">
		<ion-button (click)="ble.shutdown()" color="primary" style="height:auto; margin-left:10px; margin-right:10px;"><div style="margin-top:5px;margin-bottom:5px;">
			<ion-icon name="power-outline" style="width:24px; height:24px;"></ion-icon>
			<br>{{global.mytranslate("Shutdown")}}
		</div></ion-button>
		<br>
		<br>
		<b>{{global.mytranslate("Device version:")}}</b> {{ble.firmwareDeviceVersion}}
	</div>
	<div style="position:relative;">
		<img src="assets/dongle.png" style="height:640px; margin-left:-12px;" alt="MyDongle dongle" usemap="#buttonsMap">
		<map name="buttonsMap">
			<area shape="rect" coords="15,360,55,400" alt="Left" href="javascript:;" (click)="button(105, 0);" long-press (press)="button(105, 1)">
			<area shape="rect" coords="15,80,55,130" alt="Right" href="javascript:;" (click)="button(103, 0);" long-press (press)="button(103, 1)">
			<area shape="rect" coords="440,360,490,400" alt="Up" href="javascript:;" (click)="button(106, 0);" long-press (press)="button(106, 1)">
			<area shape="rect" coords="440,80,490,130" alt="Down" href="javascript:;" (click)="button(108, 0);" long-press (press)="button(108, 1)">
		</map>
		<canvas id="canvas" width=128 height=128 style="border:solid black 0px; width:300px; height:300px; position:absolute; left:90px; top:86px;"></canvas>
	</div>
	<ion-button (click)="requestPasscode();" color="primary">Request PassCode</ion-button>

</div></ion-content>
