<div class="flex bg-white">
	<app-sidebar></app-sidebar>
	<div class="flex-1 flex flex-col">
		<app-topbar title="{{L('Dongle')}}"></app-topbar>
		<div class="p-6	flex flex-col gap-3 items-start">
			<button (click)="connectToggle()" [class]="ble.connectedBLE == 2 || ble.connectedWS == 2 ? 'bg-green-600' : ble.connectedBLE == 1 ? 'bg-yellow-600' : 'bg-blue-600'" class="inline-flex items-center gap-2 px-4 py-2 text-white rounded-lg text-sm font-medium transition-colors">
				<img src="assets/dongle.svg" alt="Dongle" class="w-6 h-6" style="filter:invert(100%);"/>
				<span class="text-lg">{{ble.connectedBLE == 2 || ble.connectedWS == 2 ? L("Connected") : ble.connectedBLE == 1 ? L("Searching") : L("Connect")}}</span>
			</button>
			<ion-checkbox [(ngModel)]="typeBluetooth" [disabled]="ble.connectedBLE != 0 || ble.connectedWS != 0" labelPlacement="end">{{L("Via Bluetooth")}}</ion-checkbox>
			<div class="flex flex-col gap-3" *ngIf="ble.connectedBLE == 2 || ble.connectedWS == 2">
				<button (click)="shutdown()" class="inline-flex items-center gap-2 px-4 py-2 bg-red-600 text-white rounded-lg text-sm font-medium hover:bg-red-700 transition-colors">
					<ion-icon name="power-outline" class="text-white w-4 h-4"></ion-icon>
					<span class="text-lg">{{L("Shutdown")}}</span>
				</button>
				<button (click)="otp()" class="inline-flex items-center gap-2 px-4 py-2 bg-yellow-600 text-white rounded-lg text-sm font-medium hover:bg-yellow-700 transition-colors">
					<ion-icon name="lock-open-outline" class="text-white w-4 h-4"></ion-icon>
					<span class="text-lg">{{L("Login OTP")}}</span>
				</button>
				<b>{{L("Device version:")}}</b> {{ble.firmwareDeviceVersion}}
			</div>
			<div class="-ml-5" style="position:relative;">
				<img src="assets/dongle.png" style="height:640px;" alt="MyDongle dongle" usemap="#buttonsMap">
				<map name="buttonsMap">
					<area shape="rect" coords="15,360,55,400" alt="Left" href="javascript:;" (click)="button(105, 0);" long-press (press)="button(105, 1)">
					<area shape="rect" coords="15,80,55,130" alt="Right" href="javascript:;" (click)="button(103, 0);" long-press (press)="button(103, 1)">
					<area shape="rect" coords="440,360,490,400" alt="Up" href="javascript:;" (click)="button(106, 0);" long-press (press)="button(106, 1)">
					<area shape="rect" coords="440,80,490,130" alt="Down" href="javascript:;" (click)="button(108, 0);" long-press (press)="button(108, 1)">
				</map>
				<canvas id="canvas" width=128 height=128 style="border:solid black 0px; width:300px; height:300px; position:absolute; left:102px; top:85px;"></canvas>
			</div>
		</div>
	</div>
</div>
