app/translation.h
auth/betterauth/
auth/node_modules/
build
docs/web/
kernel/password.h
private/img
private/password-upgrade.bin.txt
private/password-githubkey.txt
rootfs/usr/local/modules/frp/token.txt
rootfs/usr/local/modules/_core_/reset/
client/.angular/
client/node_modules/
client/web/
client/src/assets/js/app.js
client/src/assets/i18n/keywords-en.json
client/src/assets/i18n/modules-en.json
client/src/assets/modulesdefault.json
client/src/assets/modulesmeta.json
login/.angular/
login/node_modules/
login/web/
