<div class="flex h-screen">
	<app-sidebar></app-sidebar>
	<div class="flex-1 flex flex-col bg--white overflow-x-auto">
		<app-topbar [title]="L('System Logs')"></app-topbar>
		<ul class="m-4 overflow-y-auto divide-y divide-gray-200">
			<ng-template #recursiveTree let-nodes="nodes" let-depth="depth">
				<ng-container *ngFor="let node of nodes">
					<li (click)="node.type === 'file' ? viewFileContent(node) : toggleExpand(node)" class="flex items-center p-2 hover:bg-gray-50 cursor-pointer" >
						<span class="mr-2">
							<span *ngIf="node.type === 'directory'" class="text-blue-500">
								{{ isExpanded(node) ? '🗁' : '🗀' }}
							</span>
							<span *ngIf="node.type === 'symlink'" class="text-purple-500">🔗</span>
							<span *ngIf="node.type === 'file'" class="text-gray-500">🖹</span>
						</span>
						<div class="flex-1">
							<h3 class="font-medium text--gray-900">
								{{ node.name }}<br>
								<span *ngIf="node.type !== 'file'" class="text-sm text-gray-500">
									{{ node.permissions }} · {{ node.owner }}:{{ node.group }}
									<span *ngIf="node.modified" class="float-right">
										{{ node.modified | date:'short' }}
									</span>
								</span>
							</h3>
							<p *ngIf="node.type === 'file'" class="text-sm text-gray-500">
								{{ node.permissions }} · {{ node.owner }}:{{ node.group }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getSizeString(node.size) }}
								<span *ngIf="node.modified" class="float-right">
									{{ node.modified | date:'short' }}
								</span>
							</p>
						</div>
					</li>
					<div *ngIf="node.type === 'directory' && isExpanded(node)" class="border-l border-l-dashed border-l--gray-300 pl-2" [style.margin-left.px]="16 * (depth + 1)">
						<ng-container *ngTemplateOutlet="recursiveTree; context: { nodes: node.children || [], depth: depth + 1 }"></ng-container>
					</div>
				</ng-container>
			</ng-template>
			<ng-container *ngTemplateOutlet="recursiveTree; context:{ nodes: nodes, depth: 0 }"></ng-container>
		</ul>
	</div>
</div>
<ion-modal #modalContent>
	<ng-template>
		<div class="bg--white">
			<h3 class="relative flex justify-between bg--blue-800 pt-2 pb-2 text--gray-100" (click)="closeContent()">
				<span class="mx-auto">{{modalContentName}} {{modalContentMeta}}</span>
				<ion-icon name="close-circle-outline" class="w-6 h-6 absolute right-3 cursor-pointer"></ion-icon>
			</h3>
			<pre class="m-4 bg--white text--black text-sm font-mono overflow-y-auto" style="max-height:calc(90vh - 60px);">{{ modalContentText }}</pre>
		</div>
	</ng-template>
</ion-modal>
