<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{global.mytranslate("What do you want to do?")}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-grid>
	<ion-row>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/conference.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("conference")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/suite.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("suite")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/mail.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("mail")}}</div></ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/chatbot.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("chatbot")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/calendar.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("calendar")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/hosting.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("hosting")}}</div></ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/blog.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("blog")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/photos.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("photos")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/exchange.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("exchange")}}</div></ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/survey.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("survey")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/emailing.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("emailing")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/forums.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("forums")}}</div></ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/helpdesk.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("helpdesk")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/module"><div><img src="assets/icon/ecommerce.png" style="width:64px; filter:brightness(0) invert(1);"><br><br>{{global.mytranslateM("ecommerce")}}</div></ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button routerLink="/dongle"><div><ion-icon src="assets/dongle.svg" style="width:64px;"></ion-icon><br><br>{{global.mytranslateM("dongle")}}</div></ion-button>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>
