ion-button {
	width:100%;
	height:100px;
}

ion-icon {
	font-size: 64px;
}

ion-card {
	margin-bottom: 16px;
	max-width: 400px;
}

ion-chip {
	margin-right: 4px;
	margin-bottom: 4px;
}

ion-item-divider {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

ion-item {
	--padding-start: 0;
	--inner-padding-end: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ion-label {
	flex: 1;
	text-align: center;
	padding: 8px;
}
