<div class="flex min-h-screen bg-sidebar text-sidebar-foreground">
	<app-sidebar></app-sidebar>
	<div class="flex-1 flex flex-col min-h-screen">
		<app-topbar title="{{global.mytranslate('Dashboard')}}"></app-topbar>
		<ion-content>
			<main class="flex-1 p-6 bg-background space-y-6">
				<div class="flex items-center justify-between">
					<div class="hidden md:block relative w-screen">
						<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
							<ion-icon name="search-outline" class="w-5 h-5"></ion-icon>
						</div>
						<input type="text" [(ngModel)]="searchTerm" (input)="filterCards()" placeholder="Search apps..." class="w-full pl-10 pr-4 py-2 border border-gray-300 text-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition-colors">
					</div>
				</div>

				<ion-grid>
					<ion-row>
						<ion-col size="12" size-md="5">
							<ion-segment [(ngModel)]="category" [scrollable]="true" (ionChange)="filterCards()" style="margin-right:20px; border:0px solid gray; margin-top:10px; border-radius:5px; box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
								<ion-segment-button value="All" style="width:100%;">
									<ion-label style="padding-bottom:0px;">All</ion-label>
									<ion-icon name="apps-outline" size="small"></ion-icon>
								</ion-segment-button>
								<ion-segment-button value="Essential" style="width:100%;">
									<ion-label style="padding-bottom:0px;">Essentials</ion-label>
									<ion-icon name="star-outline" size="small"></ion-icon>
								</ion-segment-button>
								<ion-segment-button value="Personal" style="width:100%;">
									<ion-label style="padding-bottom:0px;">Personal</ion-label>
									<ion-icon name="person-outline" size="small"></ion-icon>
								</ion-segment-button>
								<ion-segment-button value="Productivity" style="width:100%;">
									<ion-label style="padding-bottom:0px;">Productivity</ion-label>
									<ion-icon name="attach-outline" size="small"></ion-icon>
								</ion-segment-button>
								<ion-segment-button value="Utils" style="width:100%;">
									<ion-label style="padding-bottom:0px;">Utils</ion-label>
									<ion-icon name="hammer-outline" size="small"></ion-icon>
								</ion-segment-button>
								<ion-segment-button value="Developer" style="width:100%;">
									<ion-label style="padding-bottom:0px;">Developer</ion-label>
									<ion-icon name="code-slash-outline" size="small"></ion-icon>
								</ion-segment-button>
							</ion-segment>
						</ion-col>
						<ion-col size="6" size-md="2">
								<ion-segment [(ngModel)]="presentation" [scrollable]="true" style="border:0px solid gray; margin-top:10px; border-radius:5px; box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
									<ion-segment-button value="cards" style="width:100%;">
										<ion-label style="padding-bottom:0px;">Cards</ion-label>
										<ion-icon name="apps-outline" size="small"></ion-icon>
									</ion-segment-button>
									<ion-segment-button value="table" style="width:100%;">
										<ion-label style="padding-bottom:0px;">Table</ion-label>
										<ion-icon name="list" size="small"></ion-icon>
									</ion-segment-button>
								</ion-segment>
						</ion-col>
						<ion-col size="6" size-md="3" style="display:flex; align-items:center;">
							<ion-icon size="small" (click)="toggleSortDirection('title')" [name]="sortDirection == 'asc' ? 'caret-up-outline' : 'caret-down-outline'" style="margin-left:10px;"></ion-icon>
							<div style="display:flex; flex-direction:column; margin-left:20px;">
								<ion-checkbox [(ngModel)]="showDetails" labelPlacement="end">Details</ion-checkbox>
								<ion-checkbox [(ngModel)]="showNonWeb" style="margin-top:10px;" labelPlacement="end" (ionChange)="filterNonWeb()" class="bg-indigo-50">Non web</ion-checkbox>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>

				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6" *ngIf="presentation == 'cards'">
					<div class="rounded-xl border border-gray-200 p-3 shadow-sm flex flex-col" *ngFor="let card of filteredCards; let cc = index;" [class]="!card.enabled ? 'bg-red-50' : card.status != 'done' ? '' : card.web != true ? 'bg-indigo-50' : 'bg-gray-100'">
						<div class="flex flex-col">
							<div class="min-w-full flex items-center">
								<p class="text-sm font-medium text-gray-600" (click)="global.openModule(card.module, card?.homepage, false);" style="cursor:pointer;">{{card.name}}</p>	
								<div class="flex-1"></div>
								<span class="text-sm mr-2" *ngIf="showDetails">Nº{{cc + 1}}</span>
								<ion-icon name="bug-outline" class="w-5 h-5 mr-2" *ngIf="showDetails && card.status != 'done'"></ion-icon>
								<ion-icon name="cloud-offline-outline" class="w-5 h-5 text-red-500 mr-2" *ngIf="!card.enabled"></ion-icon>
								<ion-icon name="lock-open-outline" class="w-5 h-5 mr-2" [class]="global.colorWord(card.permissions[0])" *ngIf="card.enabled"></ion-icon>
								<ion-icon name="settings-outline" (click)="settings(card.module)" class="w-6 h-6 mr-2 cursor-pointer" *ngIf="card.settings"></ion-icon>
								<ion-icon name="information-circle-outline" (click)="info(card.module)" class="w-6 h-6 cursor-pointer"></ion-icon>
							</div>
							<div class="min-w-full flex items-center mt-2 mb-2">
								<p class="text-3xl font-bold text-gray-900"><a class="cursor-pointer" (click)="global.openModule(card.module, card?.homepage, false);">{{firstWords(card.title)}} </a><span class="whitespace-nowrap"><a class="cursor-pointer" (click)="global.openModule(card.module, card?.homepage, false);">{{lastWord(card.title)}}</a><ion-icon name="open-outline" class="ml-2 h-6 w-6 cursor-pointer" (click)="global.openModule(card.module, card?.homepage, true);"></ion-icon></span></p>
								<div class="flex-1"></div>
								<div class="ml-3 flex flex-col gap-2 items-end">
									<div class="w-16 h-16 rounded-lg flex items-center justify-center" [class]="global.colorWord(card.category)">
										<img src="assets/icons/placeholder.png" onerror="this.onerror=null; this.src='assets/icons/placeholder.png';" class="w-14 h-14 cursor-pointer" (click)="global.openModule(card.module, card?.homepage, false);"/>
									</div>
								</div>
							</div>
						</div>
						<div class="flex justify-start">
							<div class="flex flex-col">
								<p class="text-s text-gray-500">{{card.description == "" ? "Placeholder of the description of this module" : card.description}}</p>
								<div class="-ml-2" *ngIf="showDetails && !card.enabled">
									<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord('_disabled_')">Disabled</span>
								</div>
								<div class="-ml-2" *ngIf="showDetails && card.enabled">
									<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(pm)" *ngFor="let pm of card.permissions">{{global.mytranslateM(pm)}}</span>
								</div>
							</div>
							<div class="flex-1 min-w-1"></div>
							<div class="flex flex-col items-end">
								<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium" [class]="global.colorWord(card.category)" *ngIf="showDetails">{{card.category}}</span>
								<a href="https://github.com/{{card.github}}" title="GitHub {{card.github}}" class="mt-2 pl-2 flex items-center cursor-pointer" target="_blank" *ngIf="showDetails && card.githubUrl != ''">
									<ion-icon name="logo-github" class="w-8 h-8 cursor-pointer" ></ion-icon>
									<div class="flex flex-col items-center">
										<span>⭐</span>
										<span class="text-gray-500">{{approximateStars(card.githubStars)}}k</span>
									</div>
								</a>
							</div>
						</div>
						<div class="flex-1"></div>
						<div class="-ml-2 mt-2" *ngIf="showDetails">
							<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(kw)" *ngFor="let kw of card.keywords">{{kw}}</span>
						</div>
					</div>
				</div>
				<div class="mt-6 overflow-hidden shadow md:rounded-lg" *ngIf="presentation == 'table'">
					<table class="min-w-full divide-y divide-gray-300">
						<thead class="bg-gray-50">
							<tr>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">TITLE<ion-icon class="w-5 h-5 ml-2" (click)="toggleSortDirection('title')" [name]="sortDirection == 'asc' ? 'caret-up-outline' : 'caret-down-outline'"></ion-icon></th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">OPEN-SOURCE</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">PERMISSIONS</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">CAT<ion-icon *ngIf="category == 'All'" class="w-5 h-5 ml-2" (click)="toggleSortDirection('category')" [name]="sortDirection == 'asc' ? 'caret-up-outline' : 'caret-down-outline'"></ion-icon></th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">DESCRIPTION</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider" *ngIf="showDetails">GITHUB</th>
								<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider" *ngIf="showDetails">KEYWORDS</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-200">
							<tr class="hover:bg-gray-50" *ngFor="let card of filteredCards; let cc = index;">
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-sm font-medium text-gray-900" [class.line-through]="card?.completed"><a title="{{card.title}}" (click)="global.openModule(card.module, card?.homepage, false);" class="cursor-pointer">{{card.title}}</a><ion-icon name="open-outline" class="ml-2 h-4 w-4 cursor-pointer" (click)="global.openModule(card.module, card?.homepage, true);"></ion-icon></div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-left text-sm"><a (click)="global.openModule(card.module, card?.homepage, false);" class="cursor-pointer">{{card.name}}</a></td>
								<td class="px-6 py-4 whitespace-nowrap text-left">
									<div class="-ml-2" *ngIf="!card.enabled">
										<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord('_disabled_')">Disabled</span>
									</div>
									<div class="-ml-2" *ngIf="card.enabled">
										<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(pm)" *ngFor="let pm of card.permissions">{{global.mytranslateM(pm)}}</span>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-left">
									<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium" [class]="global.colorWord(card.category)">{{card.category}}</span>
								</td>
								<td class="px-6 py-4 text-left">
									<div class="text-sm text-gray-500 max-w-xs truncate" [class.line-through]="card?.completed">{{ card.description || 'No description' }}</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-left" *ngIf="showDetails">
									<a href="https://github.com/{{card.githubUrl}}" title="https://github.com/{{card.githubUrl}}" target="_blank" *ngIf="card.githubUrl != ''">{{card.githubUrl}} ({{approximateStars(card.githubStars)}}k ⭐)</a>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-left" *ngIf="showDetails">
									<div class="-ml-2">
										<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(kw)" *ngFor="let kw of card.keywords">{{kw}}</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</ion-content>
	</div>
</div>

<ion-modal #modalModuleInfo class="modalLimitSize">
	<ng-template>
			<h3 class="flex justify-between bg-blue-600 pt-2 pb-2 text-white" (click)="closeModuleInfo()">
				<span class="mx-auto font-bold">Details of "{{cards[findIdByModule(moduleCur)].title}}"</span>
				<ion-icon name="close-circle-outline" class="w-6 h-6 cursor-pointer mr-3"></ion-icon>
			</h3>
			<br>
			<table class="ml-5 min-w-full">
				<tr><td colspan="3">
					<a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank">
						<div class="w-16 h-16 rounded-lg flex items-center justify-center float-left mr-3" [class]="global.colorWord(cards[findIdByModule(moduleCur)].category)">
							<img src="assets/icons/placeholder.png" onerror="this.onerror=null; this.src='assets/icons/placeholder.png';" class="w-14 h-14 cursor-pointer" (click)="global.openModule(cards[findIdByModule(moduleCur)].module, cards[findIdByModule(moduleCur)]?.homepage, false);"/>
						</div>
					</a>
					<a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank" style="color:var(--ion-color-secondary); font-size:xx-large;">{{cards[findIdByModule(moduleCur)].title}}</a><br><a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].name}}
					</a>
				</td></tr>
				<tr><td colspan="3" height="10"></td></tr>
				<tr><td colspan="3"><span style="color:black;">{{cards[findIdByModule(moduleCur)].description}}</span></td></tr>
				<tr><td colspan="3" height="16"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="16"></td></tr>
				<tr><td>Category</td><td width="20"></td><td>
					<div class="-ml-2">
						<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(cards[findIdByModule(moduleCur)].category)" *ngIf="showDetails">{{cards[findIdByModule(moduleCur)].category}}</span>
					</div>
				</td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td>Links</td><td width="20"></td><td>
				<a href="{{cards[findIdByModule(moduleCur)].link2}}" title="{{cards[findIdByModule(moduleCur)].link2}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].link2}}</a><br>
				<a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].link}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].link}}</a></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr *ngIf="cards[findIdByModule(moduleCur)].githubUrl != ''">
					<td>GitHub <a href="https://github.com/{{cards[findIdByModule(moduleCur)].githubUrl}}" title="GitHub {{cards[findIdByModule(moduleCur)].githubUrl}}" target="_blank"><ion-icon name="logo-github" class="w-5 h-5"></ion-icon></a></td>
					<td width="20"></td><td><a href="https://github.com/{{cards[findIdByModule(moduleCur)].githubUrl}}" title="https://github.com/{{cards[findIdByModule(moduleCur)].githubUrl}}" target="_blank">{{cards[findIdByModule(moduleCur)].githubUrl}}</a> {{approximateStars(cards[findIdByModule(moduleCur)].githubStars)}}k ⭐<br>Language: {{cards[findIdByModule(moduleCur)].githubLanguage}}<br>License: {{cards[findIdByModule(moduleCur)].githubLicense}}</td>
				</tr>
				<tr *ngIf="cards[findIdByModule(moduleCur)].githubUrl != ''"><td colspan="3" height="8"></td></tr>
				<tr *ngIf="cards[findIdByModule(moduleCur)].githubUrl != ''"><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr *ngIf="cards[findIdByModule(moduleCur)].githubUrl != ''"><td colspan="3" height="8"></td></tr>
				<tr><td>Permissions</td><td width="20"></td><td>
					<div class="-ml-2" *ngIf="!cards[findIdByModule(moduleCur)].enabled">
						<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord('_disabled_')">Disabled</span>
					</div>
					<div class="-ml-2" *ngIf="cards[findIdByModule(moduleCur)].enabled">
						<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(pm)" *ngFor="let pm of cards[findIdByModule(moduleCur)].permissions">{{global.mytranslateM(pm)}}</span>
					</div>
				</td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td>Keywords</td><td width="20"></td><td>
					<div class="-ml-2">
						<span class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-medium ml-1 mr-1" [class]="global.colorWord(kw)" *ngFor="let kw of cards[findIdByModule(moduleCur)].keywords">{{kw}}</span>
					</div>
				</td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td>Proprietary<br>equivalent</td><td width="20"></td><td>{{cards[findIdByModule(moduleCur)].proprietary}}</td></tr>
			</table>
	</ng-template>
</ion-modal>

<ion-modal #modalModuleSettings class="modalLimitSize">
	<ng-template>
			<h3 class="flex justify-between bg-blue-600 pt-2 pb-2 text-white" (click)="closeModuleSettings()">
				<span class="mx-auto">Settings of "{{cards[findIdByModule(moduleCur)].title}}"</span>
				<ion-icon name="close-circle-outline" class="w-6 h-6 cursor-pointer mr-3"></ion-icon>
			</h3>
			<br>
			<table style="width:100%;">
				<tr><td colspan="3"><a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank"><img title="assets/icon/{{cards[findIdByModule(moduleCur)].module}}.png" onerror="this.onerror=null; this.src='assets/icon/placeholder.png';" style="width:64px; height:64px; float:left; margin-right:15px;"></a>
				<a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank" style="color:var(--ion-color-secondary); font-size:xx-large;">{{cards[findIdByModule(moduleCur)].title}}</a><br><a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].title}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].name}}</a></td></tr>
				<tr><td colspan="3" height="10"></td></tr>
				<tr><td colspan="3"><span style="color:black;">{{cards[findIdByModule(moduleCur)].description}}</span></td></tr>
				<tr><td colspan="3" height="16"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td>Links</td><td width="20"></td><td>
				<a href="{{cards[findIdByModule(moduleCur)].link2}}" title="{{cards[findIdByModule(moduleCur)].link2}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].link2}}</a><br>
				<a href="{{cards[findIdByModule(moduleCur)].link}}" title="{{cards[findIdByModule(moduleCur)].link}}" target="_blank" style="color:var(--ion-color-secondary);">{{cards[findIdByModule(moduleCur)].link}}</a></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td colspan="3" height="1" style="background-color:rgb(222, 222, 222);"></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr><td></td><td width="20"></td><td><ion-button (click)="reset()" *ngIf="cards[findIdByModule(moduleCur)].settings.reset"><ion-icon name="refresh-outline" size="medium"></ion-icon>Reinitialize</ion-button></td></tr>
				<tr><td colspan="3" height="8"></td></tr>
				<tr *ngIf="cards[findIdByModule(moduleCur)].settings.conf"><td></td><td width="20"></td><td><pre>{{ moduleConfig | json }}</pre></td></tr>
			</table>
	</ng-template>
</ion-modal>
