.modalLimitSize {
&::part(content) {
	max-width:550px;
	max-height:650px;
}
}

.bg-repeatline {
	@apply bg-[repeating-linear-gradient(-45deg,_#eeeeee_0,_#eeeeee_1px,_transparent_1px,_transparent_15px)];
}
