<ion-app>
	<ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
<ion-fab vertical="top" horizontal="end" slot="fixed" style="background-color:rgba(255, 255, 255, 0.5);">
	<ion-menu-button autoHide="false" id="click-mymenu" color="primary"></ion-menu-button>
</ion-fab>
<ion-popover trigger="click-mymenu" triggerAction="click">
	<ng-template>
		<ion-list>
			<ion-item (click)="global.openPage('selection', true);" lines="none" [hidden]="router.url == '/selection'"><div style="height:100%; width:100%; display:flex; align-items:center; cursor:pointer;"><ion-icon name="apps-outline" style="width:32px; zoom:1.5; white-space:nowrap;"></ion-icon>{{global.mytranslateP("rightMenu", "Modules")}}</div></ion-item>
			<ion-item (click)="global.openPage('dongle', true);" lines="none" lines="none"><div style="height:100%; width:100%; display:flex; align-items:center; cursor:pointer;"><ion-icon src="assets/dongle.svg" style="width:32px; zoom:1.5"></ion-icon>{{global.mytranslateP("rightMenu", "Dongle")}}</div></ion-item>
			<ion-item (click)="global.openPage('setup', true);" lines="none" lines="none"><div style="height:100%; width:100%; display:flex; align-items:center; cursor:pointer;"><ion-icon name="hammer" style="width:32px; zoom:1.5"></ion-icon>{{global.mytranslateP("rightMenu", "Setup")}}</div></ion-item>
			<div style="width:100%;height:1px;background-color:#dedede;"></div>
			<ion-item (click)="global.openPage('help', true);" lines="none"><div style="height:100%; width:100%; display:flex; align-items:center; cursor:pointer;"><ion-icon name="help-outline" style="width:32px; zoom:1.5"></ion-icon>{{global.mytranslateP("rightMenu", "Help")}}</div></ion-item>
			<ion-item (click)="global.openPage('about', true);" lines="none"><div style="height:100%; width:100%; display:flex; align-items:center; cursor:pointer;"><ion-icon name="information-circle-outline" style="width:32px; zoom:1.5"></ion-icon>{{global.mytranslateP("rightMenu", "About")}}</div></ion-item>
		</ion-list>
	</ng-template>
</ion-popover>
