[Unit]
Description=Better Auth Studio
After=BetterAuth.serivce
Requires=BetterAuth.serivce

[Service]
Type=simple
ExecStart=/usr/local/bin/node node_modules/better-auth-studio/dist/cli.js start
WorkingDirectory=/usr/local/modules/BetterAuth
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=2s
User=admin

[Install]
WantedBy=multi-user.target
