[Unit]
Description=frp
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/modules/frp/frpc -c /disk/admin/.modules/frp/frpc.toml
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=2s
User=admin

[Install]
WantedBy=multi-user.target
