[Unit]
Description=MongoDB
After=network.target

[Service]
ExecStart=/usr/bin/mongod --config /etc/mongod.conf
PIDFile=/var/run/mongodb/mongod.pid
Type=simple
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=mongodb

[Install]
WantedBy=multi-user.target
