[Unit]
Description=MyDongle Cloud app service
After=systemd-modules-load.service
#After=network.target
#StartLimitIntervalSec=0

[Service]
Type=oneshot
RestartSec=1
User=mdc
ExecStart=sudo /usr/bin/mydonglecloud-app -d

[Install]
WantedBy=multi-user.target
