[Unit]
Description=MyDongleCloud app (MyDongleCloud)
After=systemd-modules-load.service

[Service]
Type=oneshot
User=admin
ExecStart=/usr/local/modules/mydonglecloud/app -d
StandardOutput=inherit
StandardError=inherit
RestartSec=1s

[Install]
WantedBy=multi-user.target
