[Unit]
Description=Dongle OTG
After=systemd-modules-load.service systemd-udevd.service
Requires=systemd-modules-load.service systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/modules/mydonglecloud/otg.sh
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=sysinit.target
