[Unit]
Description=MyDongleCloud app
After=systemd-modules-load.service
#After=network.target
#StartLimitIntervalSec=0

[Service]
Type=oneshot
RestartSec=1
User=admin
ExecStart=/usr/local/modules/mydonglecloud/app -d
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
