[Unit]
Description=MyDongleCloud init
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/modules/MyDongleCloud/init.sh

[Install]
WantedBy=sysinit.target
