[Unit]
Description=MyDongle Cloud OTG service
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/modules/mydonglecloud/init.sh

[Install]
WantedBy=sysinit.target
