[Unit]
Description=Trilium Notes (MyDongleCloud)
After=network.target

[Service]
Environment=TRILIUM_DATA_DIR=/disk/admin/modules/triliumnotes
Environment=TRILIUM_LOG_DIR=/var/log/triliumnotes
Type=simple
ExecStart=/usr/local/bin/node main.cjs
WorkingDirectory=/usr/local/modules/triliumnotes
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
