[Unit]
Description=TubeSync
After=network.target

[Service]
Environment=PATH=/usr/local/modules/tubesync/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=simple
ExecStart=/usr/local/modules/tubesync/env/bin/gunicorn --chdir tubesync tubesync.wsgi:application --bind 127.0.0.1:8098
WorkingDirectory=/usr/local/modules/tubesync
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=2s
User=admin

[Install]
WantedBy=multi-user.target
