[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/modules/_core_/usb-mount.sh add %i
ExecStop=/usr/local/modules/_core_/usb-mount.sh remove %i
