[Unit]
Description=WebSSH2 (MyDongleCloud)
After=network.target

[Service]
Type=simple
ExecStart=node dist/index.js
WorkingDirectory=/usr/local/modules/webssh2
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=2s
User=admin

[Install]
WantedBy=multi-user.target
