[Unit]
Description=Hardware Init
After=systemd-modules-load.service systemd-udevd.service
Requires=systemd-modules-load.service systemd-udevd.service
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/modules/mydonglecloud/init.sh
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=sysinit.target
