[Unit]
Description=Hardware Init
After=systemd-modules-load.service systemd-udevd.service
Requires=systemd-modules-load.service systemd-udevd.service
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=oneshot
StandardOutput=inherit
StandardError=inherit
ExecStart=/usr/local/modules/_core_/init.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
