[Unit]
Description=Hardware App
After=systemd-modules-load.service
StartLimitBurst=5
StartLimitIntervalSec=300s
OnFailure=notify-failure@%n.service

[Service]
Restart=on-failure
RestartMode=direct
Type=oneshot
User=admin
ExecStart=/usr/local/modules/mydonglecloud/app -d
StandardOutput=inherit
StandardError=inherit
RestartSec=1s

[Install]
WantedBy=multi-user.target
