[Unit]
Description=Home Assistant
After=network.target

[Service]
Environment=PATH=/usr/local/modules/homeassistant/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=simple
ExecStart=/usr/local/modules/homeassistant/bin/hass --config /disk/admin/modules/homeassistant/
WorkingDirectory=/disk/admin
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
