[Unit]
Description=Mastodon
After=network.target

[Service]
Environment=RAILS_ENV=production
Environment=PORT=8112
Type=simple
ExecStart=bundle exec puma -C config/puma.rb
WorkingDirectory=/usr/local/modules/mastodon
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
