[Unit]
Description=Meilisearch
After=systemd-user-sessions.service

[Service]
Type=simple
WorkingDirectory=/disk/admin/modules/meilisearch
EnvironmentFile=/disk/admin/modules/meilisearch/meilisearch.env
ExecStart=/usr/local/bin/meilisearch --db-path /disk/admin/modules/meilisearch/data.ms
User=admin

[Install]
WantedBy=multi-user.target
