[Unit]
Description=Piped
After=network.target

[Service]
Type=simple
ExecStart=java -jar /usr/local/modules/piped/pipedbackend/build/libs/piped-1.0-all.jar
WorkingDirectory=/disk/admin/modules/piped
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
