[Unit]
Description=Portainer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/modules/portainer/portainer --data "/usr/local/modules/portainer" --http-enabled --bind=:9000 --bind-https "127.0.0.1:19443"
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
