[Unit]
Description=Syncthing
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/syncthing
WorkingDirectory=/disk/admin/modules/syncthing
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
