[Unit]
Description=WebSSH2
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node dist/index.js
WorkingDirectory=/usr/local/modules/webssh2
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=admin

[Install]
WantedBy=multi-user.target
