[Unit]
Description=WGDashboard
After=network.target

[Service]
Type=simple
ExecStart=sudo /usr/local/modules/wgdashboard/penv/bin/gunicorn --config gunicorn.conf.py
PIDFile=/usr/local/modules/wgdashboard/src/gunicorn.pid
WorkingDirectory=/usr/local/modules/wgdashboard/src
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5s
User=ai

[Install]
WantedBy=multi-user.target
