ion-tab-button {
	max-width:100px;
}

ion-content {
--padding-top: 4%;
--padding-start: 10%;
--padding-end: 10%;
}

.input-group {
border-radius: 10px;
overflow: hidden;
}

.errors {
font-size: small;
color: #fff;
background: var(--ion-color-danger);
padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
}
