<div class="grid h-dvh place-items-center bg-gradient-to-br from--gray-50 via--white to--blue-50" [class]="!showUpgrade ? '' : 'hidden'" >
	<img src="assets/loading.gif" class="w-12 aspect-square" alt="Loading...">
</div>
<div class="grid h-dvh place-items-center bg-gradient-to-br from--gray-50 via--white to--blue-50" [class]="showUpgrade ? '' : 'hidden'" >
	<span (click)="openUpgrade()" class="underline font-medium cursor-pointer max-w-[500px] text-center">{{L("Upgrade needed. A new version is available here.")}}</span>
</div>
